body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(23, 23, 58, 0.671);
}

canvas {
    border: 3px solid red;
    border-radius: 5%;
}

h1 {
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    border-radius: 50%;
    padding: 20px;
    background-color: black;
    font-style: italic;
}